{% load static %}
<div class="ui four column padded grid">
  <div class="ui large screen only eight wide left aligned column">
    <pre class="ui massive header" style="font-size:2.3em; padding: 5% ;font-family: Courier;margin-top: 10%; color: #005C00">
  def about_me():
      '''
      Software Developer...
      I Love working with
      Python Ecosystem
      '''
      return  <span class="ui icons right link"><a href="https://github.com/raahoolkumeriya" target="_blank" aria-label="github" class="ui item"><i class="github large icon" style="color: #005C00"></i></a>
    <a href="https://twitter.com/KumeriyaRahul" target="_blank" aria-hidden="true"  class="item"><i
        class="twitter large icon" style="color: #005C00"></i></a>
    <a href="https://rahulkumeriya.medium.com" target="_blank" aria-hidden="true" class="item">
      <i class="medium large icon" style="color: #005C00"></i></a>
    <a href="https://www.linkedin.com/in/rahulkumeriya" target="_blank" aria-hidden="true" class="item"><i
        class="linkedin large icon" style="color: #005C00"></i></a>
    </span>
    </pre>
  </div>
  <div class="ui large screen only eight wide column">
    <div class="six wide right floated column center aligned">
      <img class="ui centered massive image" src="{% static 'images/developer_activity.svg' %}"
        alt="developer_activity-image" height=50% width=50%>
    </div>
  </div>
  <div class="tablet only mobile only sixteen wide column">
    <div class="ui equal width center aligned padded grid">
      <div class="row">
        <div class="column">
<pre class="ui header" style="font-size: 1.6em; padding-top: 10px;padding-bottom: 10px; font-family: Courier;color: rgb(61, 61, 61) !important;">
def about_me():&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    '''&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Software Developer...
    I Love working with&nbsp;&nbsp;
    Python Ecosystem&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    '''&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    return <span class="ui right link">
      <a href="https://github.com/raahoolkumeriya" target="_blank"
        aria-label="github" class="ui item"><i class="github large icon" style="color: rgb(61, 61, 61) !important;"></i></a>
      <a href="https://twitter.com/KumeriyaRahul" aria-label="twitter" target="_blank" class="item"><i
          class="twitter large icon" style="color: rgb(61, 61, 61) !important;"></i></a>
      <a href="https://rahulkumeriya.medium.com" aria-label="medium" target="_blank" class="item">
        <i class="medium large icon" style="color: rgb(61, 61, 61) !important;"></i></a>
      <a href="https://www.linkedin.com/in/rahulkumeriya"  aria-label="linkedin" target="_blank" class="item"><i
          class="linkedin large icon" style="color: rgb(61, 61, 61) !important;"></i></a>
      </span>
  </pre>      
        </div>
      </div>
    </div>
     <div class="ui column grid">
      <div class="column">
          <img class="ui centered large rounded image" src="{% static 'images/dev_productivity.svg' %}" width="50%"
          height="50%" alt="dev-productivity-image-2">
      </div>
     </div>
  </div>
</div>