<div class="ui hidden divider"></div>
<div class="ui vertical fluid footer" style="margin-bottom: 0%; margin-top: 0%; background-color: #dad8d8; color:rgb(66, 65, 65) !important;" >
  <div class="ui column grid">
    <div class="mobile only sixteen wide column center aligned">
        <div class="ui link massive list">
          <a class="ui item" href="https://linktr.ee/rahulkumeriya">connect.me</a>
          <span style="font-size:small;">version 2.0.2 महारथी कर्ण</span>
        </div>
        <div class="ui link big list">
          <a class="item">©2021 Rahul Kumeriya. All right reserved.</a>
          <p>All illustrations on this website are my own work and are subject to copyright.</p>
        </div>
      </div>
      <div class="ui stackable height stackable grid computer only two column row">
        <div class="column center aligned">
          <div class="ui link massive list seven wide column">
            <div class="ui hidden divider"></div>
            <a class="item" href="https://linktr.ee/rahulkumeriya">connect.me</a>
            <span style="font-size:small;">version 2.0.2 महारथी कर्ण</span>
          </div>
        </div>
        <div class="ui column center aligned">
            <div class="ui link big list seven wide column">
              <div class="ui hidden divider"></div>
              <a class="item">©2021 Rahul Kumeriya. All right reserved.</a>
              <p>All illustrations on this website are my own work and are subject to copyright.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>