{% load static %}
<div id="skills" class="ui center aligned">
  <div class="ui text link container">
      <p class="ui text center aligned header" style="font-size: 3em; margin-bottom: 0em;padding-bottom: 0em !important ">
        Skills & Tools
      </p>
      <div class="ui horizontal divider">
          <i class="ui code icon"></i>
        </div>
  </div>
    <div class="ui stripe community vertical">
      <div class="ui four column center aligned very relaxed stackable grid container">
        <div class="row">
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="tasks icon"></i>
              programming languages
            </h2>
            <p>Python, Shell Script, PLSQL</p>
          </div>
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="database icon"></i>
              databases
            </h2>
            <p>Oracle, MonogoDB, MySQL, Postgres</p>
          </div>
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="braille icon"></i>
              frameworks
            </h2>
            <p>Streamlit, Django, Flask, FastAPI, GitHub</p>
          </div>
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="cogs icon"></i>
              tools
            </h2>
            <p>Ansible, CICD, Sciket-Learn, Cloud (Azure, Heroku)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stripe community vertical">
      <div class="ui four column center aligned very relaxed stackable grid container">
        <div class="row">
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="bolt icon"></i>
              comfortable with
            </h2>
            <p>Data Science, Machine Learning</p>
          </div>
          <div class="column">
            <h2 class="ui icon medium header">
              <i class="tint icon"></i>
              intrested in
            </h2>
            <p>Deep Learning, AI</p>
          </div>
        </div>
      </div>
    </div>
  </div>